body {
    background-color: rgb(172, 180, 214);
}

.titu {
    border: solid 2px rgb(8, 0, 128);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    color: rgb(43, 87, 37);
    background-color: bisque;
}

.pag_inicial {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 70px;
    background-color:lightblue;
    color: darkred;
}

h2 {
    text-align: center;
}

.texto {
    text-align: center;
    font-size: larger;
    color:indigo;
}

h3 {
    text-align: center;
    font-size: larger;
}

.livros {
    justify-content: center;
    display: flex;
    gap: 70px;
    font-size: x-large;
    top: 50px;
}

.aprenda {
    text-align: center;
    align-items: center;
    font-size: x-large;
    top: 50px;
}

.coisas {
    justify-content: center;
    display: flex;
    gap: 70px;
}

.tabela {
    justify-content: center;
    border: 2px red;
    border-style: dotted;
    margin-left: auto;
    margin-right: auto;
    margin-right: auto;
    margin-right: auto;
}

.C {
    text-align: center;
    font-size: x-large;
    
}