.ronaldo{
    font-style: italic;
    color: #ffffff;
    size: 18px;
}
#oi{
    color: blueviolet;
}
a:hover{
    color: forestgreen;
}

body{
     margin: 0;
    height: 100vh;
    display: grid;
    place-items: center; 
    background-color: black;
}